<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/%22%3E">
<head>
    <meta charset="UTF-8">
<title></title>
</head>
<body>
<!--<div th:insert="fragments/_header :: header"></div>-->
<form action="/search">
    <input type="submit" value="search a word" />
</form>
<table>
    <tr th:each="word : ${words}">
        <td>
            <a th:href="@{/{term}(term= ${word.term})}"><h5 th:text="${word.term}"></h5></a>
            <h8 th:text="${word.definition}"></h8>
            <hr/>
        </td>
    </tr>
</table>

<!--<div th:insert="fragments/_footer :: footer"></div>-->
</body>
</html>