<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/%22%3E">
<head>
    <meta charset="UTF-8">
<title></title>
<link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>

<!--<div th:insert="fragments/_header :: header"></div>-->

<div class="content mt-3">
    <form method="post"
          th:action="@{/definition}"
          th:object="${word}">

    <div class="form-group">
        <label for="wordSearch">
            Enter a Word to Search
        </label>
        <input type="text" class="form-control" name="wordSearch" id="wordSearch" th:value="*{term}">
    </div>
    <input type="submit" class="btn btn-primary" value="Look up the word">
    </form>
</div>
<div class="container mt-5">
    <h2>Words available in dictionary:</h2>
    <ul class="list-group">
        <li class="list-group-item" th:each="item : ${words}"><h6 th:text="${item.term}"></h6></li>
    </ul>

</div>
<!--<div th:insert="fragments/_footer :: footer"></div>-->
</body>
</html>